<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
  <h1>Code Demo 2020</h1>
  <p>
    This is a simple web example. It is implemented with Spring Boot, Angular, TypeScript and Bootstrap. The data is
    saved in a memory database.
  </p>
  <p>
    You can perform CRUD operations on the blog (See links in menu).
  </p>
  <ul>
    <li>List entries</li>
    <li>Create a new Blog entry</li>
    <li>Read an entry</li>
    <li>You can delete an entry (Reach it from the Detail view)</li>
  </ul>
</div>